In [12]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [13]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tiksi,RU,2021-09-26 10:51:20,71.6872,128.8694,34.99,97,100,18.66
1,1,Mahebourg,MU,2021-09-26 10:51:20,-20.4081,57.7000,77.25,73,75,12.66
2,2,Busselton,AU,2021-09-26 10:51:21,-33.6500,115.3333,57.04,90,43,10.92
3,3,Kisangani,CD,2021-09-26 10:51:21,0.5167,25.2000,73.47,83,99,4.23
4,4,New Norfolk,AU,2021-09-26 10:51:21,-42.7826,147.0587,45.72,62,10,1.86

In [14]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [15]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [19]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Mahebourg,MU,2021-09-26 10:51:20,-20.4081,57.7000,77.25,73,75,12.66
7,7,Loiza,PR,2021-09-26 10:51:22,18.4313,-65.8802,80.58,88,20,0.00
9,9,Veraval,IN,2021-09-26 10:51:23,20.9000,70.3667,82.51,74,49,7.40
12,12,Yulara,AU,2021-09-26 10:51:24,-25.2406,130.9889,82.24,9,21,5.75
18,18,Sola,VU,2021-09-26 10:51:26,-13.8833,167.5500,79.09,79,19,17.05
19,19,Sugod,PH,2021-09-26 10:51:27,12.9870,124.0805,82.63,80,94,3.58
28,28,Butaritari,KI,2021-09-26 10:51:30,3.0707,172.7902,83.59,76,62,15.41
34,34,Aba,NG,2021-09-26 10:51:32,5.1066,7.3667,76.89,86,100,1.03
47,47,Souillac,MU,2021-09-26 10:51:37,-20.5167,57.5167,77.36,73,75,12.66
48,48,Saint-Philippe,RE,2021-09-26 10:51:37,-21.3585,55.7679,80.22,83,44,14.92

In [27]:
preferred_cities_df.count()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1        Mahebourg      MU     77.25 -20.4081   57.7000
7            Loiza      PR     80.58  18.4313  -65.8802
9          Veraval      IN     82.51  20.9000   70.3667
12          Yulara      AU     82.24 -25.2406  130.9889
18            Sola      VU     79.09 -13.8833  167.5500
19           Sugod      PH     82.63  12.9870  124.0805
28      Butaritari      KI     83.59   3.0707  172.7902
34             Aba      NG     76.89   5.1066    7.3667
47        Souillac      MU     77.36 -20.5167   57.5167
48  Saint-Philippe      RE     80.22 -21.3585   55.7679

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [37]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [39]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Mahebourg,MU,77.25,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
7,Loiza,PR,80.58,18.4313,-65.8802,Malibu Beachfront
9,Veraval,IN,82.51,20.9000,70.3667,Lords Inn Somnath
12,Yulara,AU,82.24,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
18,Sola,VU,79.09,-13.8833,167.5500,Leumerus Bungalows
19,Sugod,PH,82.63,12.9870,124.0805,Musngi Garage
28,Butaritari,KI,83.59,3.0707,172.7902,Isles Sunset Lodge
34,Aba,NG,76.89,5.1066,7.3667,Rosies Hotel Limited
47,Souillac,MU,77.36,-20.5167,57.5167,Shanti Maurice Resort & Spa
48,Saint-Philippe,RE,80.22,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [41]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))